html{
  background-color: white;
}
.nav-bar {
	height:80px;
	background-color:#e60000;
	padding:10px;
	color:white;
	width:100%;
}

.body {
  background-color:white;
}
/** Landing page **/

.landing-page {
  background: #fff url('./images/FoodRunner.jpg') repeat-x top right;
  float:right;
  width:100%;
  height:100vh;
  color:white;
}

.landing-side {
  background: rgba(0, 0, 0, 0.8);
  float:left;
  width:600px;
  height:100vh;
}

.landing-side h1, h2 {
  background-color: transparent;
}

.landing-side h1 {
  font-size: 50px;
}

.landing-side h2 {
  font-size: 80px;
  font-weight: bold;
}
.welcome {
  background-color: transparent;
  color:white;
}

.spacer {
  background-color: transparent;
}
.tag-line {
  background-color: transparent;
}

.tag-line p {
  background-color: transparent;
  font-size: 20px;
  color: white;
}

.center-login {
  margin:40px;
  background-color: transparent;
  text-align:center;
}
.landing-runner{
  background: transparent url('./images/runner-small.png') no-repeat top left;
  position: absolute;
  top:0;
  left:45%;
  width:100px;
  height:70px;
}
